tests/data/publisher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/publisher"
           xmlns:pub="http://example.com/publisher"
           elementFormDefault="qualified">

    <!-- Publisher schema with its own namespace -->
    
    <xs:complexType name="PublisherType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="pub:PublisherAddressType"/>
            <xs:element name="website" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="contactEmail" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="PublisherAddressType">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
